@import url(https://fonts.bunny.net/css?family=aleo:300,300i,700,700i);

// Reset from https://www.joshwcomeau.com/css/custom-css-reset/
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
html, body { height: 100%; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
#root, #__next { isolation: isolate; }

body {
    font-size: 1.2rem;
    font-family: 'Aleo', serif;
}

.container
{
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

img
{
    margin-left: auto;
    margin-right: auto;
}

p, ul, ol, blockquote, pre
{
    margin-bottom: 1.3rem;
}

a
{
    color: black;
    text-decoration: none;
}

code
{
    background: #fafafa;
    padding: 0.1rem 0.2rem;
    display: inline-block;
}

p > a,
.page-content a {
    background: linear-gradient(to right, rgba(255, 164, 61, 0.3), rgba(255, 152, 61, 0.7));
    background-size: 300% 40%;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.page-content {

    table {
        width: 100%;
        margin-bottom: 2rem;
        border-collapse: collapse;

        thead {
            text-align: left;
            font-weight: bold;

            th {
                padding: 0.5rem;
                border-bottom: solid 1px #ccc;
            }
        }

        tbody {
            td {
                padding: 0.5rem;
                border-bottom: dashed 1px #ccc;
            }
        }
    }
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 2rem;

    a {
        display: block;
        position: relative;

        div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.7);
            color: white;
            display: none;
            justify-content: center;
            align-items: center;
            text-align: center;

            p {
                margin: 0;
            }
        }

        &:hover {
            div {
                display: flex;
            }
        }
    }
}

@media(max-width: 400px) {
    .album-grid {
        display: block;
    }
}

.footer
{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;

    h5
    {
        margin: 0;
        font-size: 1rem;
    }

    ul
    {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li
        {
            margin: 0;
            padding: 0;
        }
    }
}

.article-list
{
    margin-top: 3rem;
}

.article-list > h4
{
    text-align: right;
    margin-bottom: 0.5rem;
}

.article-list > a
{
    display: flex;
    align-items: baseline;
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;
}

.article-list > a > hr
{
    margin: 0 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.page-content
{
    margin-top: 5rem;
}

h1, h2, h3, h4, h5
{
    margin: 1.5rem 0;
    font-weight: 700;
}

h1
{
    font-size: 2rem;

    &.with-subtitle {
        margin-bottom: 0;
    }
}

h2, h3, h4, h5
{
    font-size: 1.5rem;

    &.subtitle {
        font-weight: 300;
        margin-top: 0;
    }
}

.masthead
{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav ul
    {
        display: flex;
        list-style-type: none;
        gap: 1rem;
        font-size: 1rem;
        padding: 0;
        margin: 0;

        li
        {
            margin: 0;
            padding: 0;
        }
    }
}

ul
{
    list-style-type: "— ";
    padding-left: 2rem;
    margin-left: -2rem;

    li > ul
    {
        margin-left: 0;
        margin-bottom: 0;
    }
}

ol
{
    padding-left: 2rem;
    margin-left: -2rem;
}

blockquote
{
    padding-left: 1.5rem;
    background: linear-gradient(to bottom, rgba(255, 164, 61, 0.3), rgba(255, 152, 61, 0.7));
    background-size: 10px 300%;
    background-repeat: no-repeat;
    background-position: 100% 0 100% 30%;
}

.pill
{
    text-align: center;
    margin: 3rem 0;
}

.pill > a
{
    display: inline-block;
    margin: 0 auto;
    padding: 0.25rem 0.75rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 9999px;
    font-style: italic;
    font-size: 1rem;
}

@media (max-width: 640px) {

    .article-list > a
    {
        display: block;
    }
    .article-list > a > span
    {
        display: block;
    }

    .article-list > a > span:last-child,
    .article-list > a > time:last-child
    {
        font-style: italic;
    }

    .article-list > a > hr
    {
        display: none;
    }

    .footer {
        display: block;
    }

    .col-25,
    .col-50
    {
        width: 100%;
    }

    .footer ul:last-child
    {
        text-align: left;
    }

    .article-list > h4 {
        text-align: left;
    }
}

.note-day {
    display: flex;
    border-top: dashed 1px #ccc;
    padding-top: 3rem;

    .note-date {
        min-width: 30%;
    }

    .notes {
        flex-grow: 1;

        .note-content {
            padding-top: 3rem;
            padding-bottom: 2rem;
            border-top: dashed 1px #ccc;

            &:first-child {
                padding-top: 0;
                border-top: none;
            }

            img
            {
                margin-bottom: 2rem;
            }
        }

        .note-timestamp {
            font-style: italic;
        }
    }
}

.link-day {
    display: flex;
    border-top: dashed 1px #ccc;
    padding-top: 3rem;

    .link-date {
        min-width: 30%;
    }

    .links {
        flex-grow: 1;

        .link-content {
            padding-top: 3rem;
            padding-bottom: 2rem;
            border-top: dashed 1px #ccc;

            &:first-child {
                padding-top: 0;
                border-top: none;
            }

            h3 {
                margin: 0 0 0.4rem;
                font-size: 1.2rem;

                a {
                    border-bottom: solid 1px #ccc;

                    svg {
                        display: inline-block;
                        height: 1rem;
                    }
                }
            }

            h5 {
                margin: 0 0 1.5rem;
                font-size: 0.8rem;
                font-weight: normal;
            }
        }
    }
}

.article-list .note-day:first-child,
.article-list .link-day:first-child {
    border-top: none;
    padding-top: 0;
}
